fastapi== 0.115.5
tensorflow==2.18.0
librosa==0.10.2.post1
scipy==1.13.1
numpy==2.0.2
torch ==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
scikit-learn==1.5.2
wget
timm==0.4.5
uvicorn
tqdm
